body {
    background-image:"tree of life.jpg";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

header {
    background: white;
    text-align: center;
    margin: 0px 75px 0px 75px;
    
}
figure{
    text-align: center;
    font-size: 20px;
    background: #05B5AF;
    margin: 10px 225px 100px 225px;
    padding: 10px;
 }

 figcaption {
     color: white;
     font-size: 25px;
     margin: 25px;
}

main {
    text-align:center;
    font-size: 50px;
    color: #808080;
    position: center;
    margin: 0px 100px 0px 100px;
}


div {
    background-image: url("tree of life.jpg") no-repeat top fixed ;
    background-size: cover;
    position: center;
    padding: 75px 0 0 20px; 
    margin-top: 50px #05B5AF;
    border: 15px 15px #05B5AF;
}
h1 { 
    font-family:"source serif 4";
    font-weight: 500;
    font-size: 80px;
    font-weight: normal;
    padding-top: 100px;
    margin: auto;
    text-align: center;
    color: #808080;
    

}

h2 {
    font-family:"source serif 4";
    font-weight: 500;
    font-size: 55px;
    font-weight: normal;
    padding-top: 75px;
    margin: auto;
    text-align: center;
    color: #808080;
}

h3 {
    color:#05B5AF;
}

p {
    color: white;
    font-family: "source serif 4";
    font-weight: 300;
}



a {
    position:center;
    display:inline-block;
    color: white;
    background: grey;
    text-align: center;
    border: 1px solid #05504d;
    border-radius: 5px;
    transition: all ease .5s;

}

a:hover {
    color:#05B5AF;
}

footer {
    background: lightgrey;
    background-size: 50px;
    margin-top: 80px 80px 80px 80px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 25px;
    border: 5px solid #05B5AF;
}


